<div class="header">
  <button mat-fab extended color="primary" (click)="abrirFormulario()">
    <mat-icon>add</mat-icon>
    Nuevo producto
  </button>
</div>

@if (loading()) {
  <div class="center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
}

@if (errorMessage()) {
  <div>{{ errorMessage() }}</div>
}

@if (!loading() && !errorMessage()) {
  <div class="grid">
    @for (producto of products(); track producto.id) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ producto.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <img [src]="producto.thumbnail" alt="{{ producto.title }}" class="product-image" />
          </p>
          <p>
            <strong>Categoría:</strong>
            {{ producto.category }}
          </p>
          <p>
            <strong>Stock:</strong>
            {{ producto.stock }}
          </p>
          <p>
            <strong>Precio:</strong>
            ${{ producto.price }}
          </p>
          <p>
            <strong>Descripción:</strong>
            {{ producto.description }}
          </p>
        </mat-card-content>

        <mat-card-actions class="card-actions">
          <button mat-icon-button (click)="abrirFormulario(producto)">
            <mat-icon class="icon-edit">edit</mat-icon>
          </button>

          <button mat-icon-button (click)="delete(producto)">
            <mat-icon class="icon-delete">delete_forever</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
}
