.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 5px;
}

mat-card {
  display: flex;
  width: 280px;
  flex-direction: column;
  height: 100%;
}

.product-image{
  width: 200px;
  display: center;
}
