
header {
  background-color: none;
  color: black;
  padding: 0 10px;
  text-align: left;
  height: 100px;
  display: flex;
  border-radius: 1px;
}
button{
  background: none;
  border: none;
  padding: 0;
  color: blue;
  margin-left: 10px;
  transition: background 0.3s;
}
nav p {
  margin-left: auto;
  color: black;
  margin: 0 5px;
  text-decoration: none;
}

