

@if (loading) {
  <div>Cargando...</div>
}

@if (error) {
  <div>{{ error }}</div>
}

@if (!loading && !error) {

  <h2>Lista de empleados</h2>

  <div>
  <button class="btn_agregar" (click)="agregarEmployee()" >Agregar</button>
  <button class="btn_editar" (click)="editarEmployee()" >Editar</button>
  </div>

<div class="card">
  @for (employee of employees; track employee.id) {
    <div class="grid">
      <h3>{{ employee.id }}</h3>
      <img [src]="employee.avatar" width="100">
      <p>Name: {{ employee.name }}</p>
      <p>Email: {{ employee.email }}</p>
      <p>Phone: {{ employee.phone }}</p>
      <p>Department: {{ employee.department }}</p>
      <p>Position: {{ employee.position }}</p>
      <p>Salary: {{ employee.salary }}</p>
      <button class="btn_elminar" (click)="eliminarEmployee(employee.id)">Eliminar</button>
    </div>
  }
</div>

}

