@if (loading()) {
  <mat-spinner></mat-spinner>
}

@if (errorMessage) {
  <div>
    {{ errorMessage }}
  </div>
}

<button matButton="elevated" class="button-crear" (click)="abrirFormulario()">
  Nuevo Estudiante
</button>

<div class="container">
  @for (estudiante of students(); track estudiante.id) {
    <mat-card class="student-card" appearance="outlined">
      <mat-card-content>
        <img mat-card-image class="imagen" [src]="estudiante.avatar" alt="Avatar" />
        <p class="nombre">{{ estudiante.name }}</p>
        <p class="email">{{ estudiante.email }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="goToStudentDetails(estudiante.id)">
          <mat-icon aria-hidden="false" aria-label="icon-visible">visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="abrirFormulario(estudiante)">
          <mat-icon aria-hidden="false" aria-label="icon-edit">edit</mat-icon>
        </button>
        <button mat-icon-button routerLink="(['/students/', estudiante.id, 'delete'])">
          <mat-icon aria-hidden="false" aria-label="icon-delete">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
