.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

mat-card {
  display: flex;
  width: 280px;
  flex-direction: column;
  height: 100%;
}

.product-image{
  width: 200px;
  display: center;
}
